/*---- addition of focus colours (steve)
a:focus {
    background-color: #FFED00;
    outline: 3px solid #FFED00;
}---*/


/*--------- Steve's additions 24-06-2016 ------------*/

/*-------------- logo -----------*/


/*-------------- logo -----------*/

/*---- alt NHS logo in a white box (Steve) -----
.header-main .header-logo a {
float: left;
height: 36px;
  width:90px;
padding: 0px 0px;
white-space: nowrap;
padding-top: 20px;
padding-bottom: 20px;
}*/
