//Colour Pallette:

//NHS:
@nhs-light-blue: #0082CA;
@nhs-lighter-blue: #e5f0f9; //not actual nhs colour
@nhs-black: #231f20;
@nhs-white: #ffffff;
@nhs-red: #E2231A;
@nhs-dark-green: #006647;
@nhs-lighter-green: #b2e599;

@nhs-grey-1: #667078;
@nhs-grey-2: #b9d2dc;
@nhs-grey-3: #dbe4f3;
@nhs-grey-4: #eff3f5;

//Other
@seren-blue: #89ABE3;
@btn-orange: #FF9900;

@grey-dark: #666666;
@grey-light: #e4e4e4;
@footer-dark: #333333;
@footer-light: #667076;
