// Typography --------------------------------------------------------------------------------------------------------

//Base Font
@fs-base: 1rem; //Base font size
@fs-lg: @fs-h3; //For lead paragraphs, labels etc
@fs-footer: 14px; //For footer text

//Headings
@fs-h1: 2.526rem; // ~48px @ lg
@fs-h2: 1.895rem; // ~36px @ lg
@fs-h3: 1.263rem; // ~24px @ lg
@fs-h4: 1rem; // ~19px @ lg

//media queries
@media (max-width: @screen-sm) {
    html{font-size:16px;}
}

@media (min-width: @screen-sm) {
    html{font-size: 19px;}
}
