@charset "UTF-8";

label.form-label-bold.white {
    color:white;
    font-size:1.2em;
    font-weight: 500;
}
ul.goback a {
    display:block;
    font-size:0.8em;
    text-decoration:none;
    float:left;
    margin:12px 5% 0 20px;
}
.row-height {
    height:110px;
}
.row-graphic {
    height:auto;
    width:100%;
}
.row-caption {
    height:40px;
    width:100%;
}
.graphic {
    float:left;
    width:auto;
    display:block;
}
.graphic-nhs {
    float:left;
    width:auto;
    display:block;
    background:#0072C6;
    padding-top:5px;
    margin:2px 20px 0 0 ;
}
.graphic-text  {
    float:left;
    width:100%;
    display:block;
    padding:30px 0 0 10px;
}
.verify-text {
    float:left;
    width:auto;
    display:block;
    padding:25px 0 0 10px;
}
.graphic-caption {
    display:block;
    padding: 0px 0 0 0;
    text-align: center;
}
.graphic-caption02 {
    display:block;
    padding: 16% 0 0 0;
    text-align: center;
}
.graphic-pic {
    float:left;
    width:28%;
    display: block;
    height: auto;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding:2%;
}
.graphic-pic img {
    display: block;
    height: auto;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle
}
input[type='radio']:checked + .form-control-radio:before {
    line-height: 1.7rem;
    text-indent: 3px;
}
